---
import { type CollectionEntry, getCollection } from "astro:content";
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import Note from "@/components/note/Note.astro";
import { getAllPosts } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import { collectionDateSort } from "@/utils/date";
import Cards from "../components/Cards.astro";
import { Tech } from "@/data/tech";
// Posts
const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = allPosts
  .sort(collectionDateSort)
  .slice(0, MAX_POSTS) as CollectionEntry<"post">[];

// Notes
const MAX_NOTES = 5;
const allNotes = await getCollection("note");
const latestNotes = allNotes.sort(collectionDateSort).slice(0, MAX_NOTES);
---

<PageLayout meta={{ title: "Home" }}>
  <section>
    <p>Hi, I'm Kirill. Currently on sabbatical and in exploration mode.</p>
    <br />
    <p>
      Previously, I was a principal product manager at Delivery Hero, where I
      shipped growth features that drove millions in revenue. In the past I also
      ran a mobile marketing agency, took part in VC accelerator, drove GTM at
      early-stage startups & invested in renewable energy.
    </p>
    <br />
    <p>
      Occasionally, I write about my life experiences and digital products as
      well as support founders of early-stage startups with growth, product and
      hiring. If you are building cool stuff, don't hesitate to reach out!
    </p>
    <br />
    <p>
      In my free time I weightlift, play tennis, consume scif-fi and travel with
      my <a class="cactus-link" href="https://sarahkhanamajid.com/">wife</a>. <a
        class="cactus-link"
        href="https://twitter.com/kirso_">DMs</a
      > are always open, so as <a
        class="cactus-link"
        href="https://calendar.notion.so/meet/kirso/9f8o4l6f">coffee chats</a
      >.
    </p>
    <br />
    <SocialList />
  </section>

  <section class="mt-10">
    <h2 class="title text-accent mb-6 text-xl"><a href="/posts/">Posts</a></h2>
    <ul class="space-y-4" role="list">
      {
        allPostsByDate.map((p) => (
          <li class="grid gap-2 sm:grid-cols-[auto_1fr]">
            <PostPreview post={p} />
          </li>
        ))
      }
    </ul>
  </section>
  {
    latestNotes.length > 0 && (
      <section class="mt-10">
        <h2 class="title text-accent mb-6 text-xl">
          <a href="/notes/">Notes</a>
        </h2>
        <ul class="space-y-4" role="list">
          {latestNotes.map((note) => (
            <li>
              <Note note={note} as="h3" isPreview />
            </li>
          ))}
        </ul>
      </section>
    )
  }
  <section class="mt-10">
    <h2 class="title text-accent mb-6 text-xl">Projects</h2>
    <Cards
      cards={[
        {
          title: "Google clone",
          to: "/posts/google-clone/",
          description: "Search with Google API",
          gradientFrom: "#818cf8",
          gradientTo: "#d8b4fe",
        },
        {
          title: "Panic theme",
          to: "https://github.com/kirso/logseq-panic-theme",
          description: "Make Logseq PKM pretty",
          gradientFrom: "#fde68a",
          gradientTo: "#fca5a5",
        },
        {
          title: "Schwiftyverse",
          to: "https://schwiftyverse.vercel.app/",
          description: "GIFs on Solana blockchain",
          gradientFrom: "#6ee7b7",
          gradientTo: "#9333ea",
        },
        {
          title: "ToDo",
          to: "https://github.com/kirso/bun-elysia-tailwind-htmx-todo-app",
          description: "Tasks on the edge",
          gradientFrom: "#a15",
          gradientTo: "#F51",
        },
      ]}
    />
  </section>
  <section class="mt-10">
    <h2 class="title text-accent mb-6 text-xl">Tech</h2>
    <dl class="space-y-4">
      {
        Tech.map(({ href, title, desc }) => (
          <div class="flex flex-col gap-2 md:flex-row">
            <dt>
              <span class="flex">
                <a
                  href={href}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="cactus-link"
                >
                  {title}
                </a>
                :
              </span>
            </dt>
            <dd>{desc}</dd>
          </div>
        ))
      }
    </dl>
  </section>
</PageLayout>
